body {
    background-image: url("../resources/images/dh-background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    overflow: hidden;
}

.large {
    width: 120px;
    position: absolute;
    bottom: 0;
}

.small {
    width: 400px;
    position: absolute;
    bottom: -14%;
}

#b1 {
    right: 90%;
}

#b2 {
    left: 90%;
}

#b3 {
    right: 80%;
}

#b4 {
    left: 80%;
}

#b5 {
    right: 70%;
}

#b6 {
    left: 70%;
}

#b7 {
    right: 60%;
}

#b8 {
    left: 60%;
}