body {
    display: flex;
    flex-direction: column;
}

.container {
    width: 100vh;
}

.card-body {
    padding: 0;
}

/* start page */

.btn {
    font-size: 10px;
    font: black;
    border: solid;
    box-sizing; content:
    border-width: 1px;
    padding: 2px;
}

/* game play */

.bottom-img {
    position: relative;
    z-index: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
}

.top-img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 27%;
    bottom: 0;
    left: 0;
    right: 0;
}

/* cursor */

html {
    cursor: crosshair;
    z-index: 1;
}

/* score & bullet tracker */

.score-box {
    position: absolute;
    z-index: 1;
    width: 25%;
    height: 10%;
    bottom: 1%;
    right: 2%;
}

.bullet-box {
    position: absolute;
    z-index: 1;
    width: 20%;
    height: 8%;
    bottom: 2%;
    left: 0;
}

/* Birds */

.bird-size {
    z-index: 0;
    width: 10%;
    position: absolute;
    bottom: 7%;
}

#b1 {
    right: 90%;
    animation-name: bird1;
    animation-delay: 1000ms;
    animation-duration: 5.5s;
}

#b2 {
    left: 90%;
    animation-name: bird2;
    animation-delay: 1000ms;
    animation-duration: 4.9s;
    transform: rotateY(180deg);
}

#b3 {
    right: 80%;
    animation-name: bird3;
    animation-delay: 1000ms;
    animation-duration: 7s;
}

#b4 {
    left: 80%;
    animation-name: bird4;
    animation-delay: 2000ms;
    animation-duration: 7s;
    transform: rotateY(180deg);
}

#b5 {
    right: 70%;
    animation-name: bird5;
    animation-delay: 2500ms;
    animation-duration: 6s;
}

#b6 {
    left: 70%;
    animation-name: bird6;
    animation-delay: 2500ms;
    animation-duration: 6s;
    transform: rotateY(180deg);
}

#b7 {
    right: 60%;
    animation-name: bird7;
    animation-delay: 3000ms;
    animation-duration: 7s;
}

#b8 {
    left: 60%;
    animation-name: bird8;
    animation-delay: 3000ms;
    animation-duration: 7s;
    transform: rotateY(180deg);
}

@keyframes bird1 {
    10% {left: 20%; bottom: 35%}
    30% {left: 30%; bottom: 50%}
    50% {left: 40%; bottom: 70%}
    70% {left: 60%; bottom: 35%}
    100% {left: 100%; bottom: 100%}
}

@keyframes bird2 {
    10% {right: 10%; bottom: 35%}
    30% {right: 25%; bottom: 50%}
    40% {left: 40%; bottom: 70%}
    70% {left: 20%; bottom: 55%}
    100% {left: -20%; bottom: 100%}
}

@keyframes bird3 {
    10% {left: 10%; bottom: 90%}
    30% {left: 20%; bottom: 35%}
    50% {left: 40%; bottom: 60%}
    70% {left: 60%; bottom: 35%}
    100% {left: 100%; bottom: 100%}
}

@keyframes bird4 {
    10% {right: 20%; bottom: 40%}
    30% {right: 50%; bottom: 55%}
    40% {left: 60%; bottom: 35%}
    70% {left: 30%; bottom: 55%}
    100% {left: -40%; bottom: 100%}
}

@keyframes bird5 {
    10% {left: 0%; bottom: 40%}
    30% {left: 20%; bottom: 50%}
    50% {left: 40%; bottom: 35%}
    70% {left: 60%; bottom: 60%}
    100% {left: 100%; bottom: 100%}
}

@keyframes bird6 {
    10% {right: 10%; bottom: 35%}
    30% {right: 25%; bottom: 50%}
    40% {left: 40%; bottom: 70%}
    70% {left: 20%; bottom: 35%}
    100% {left: -20%; bottom: 100%}
}

@keyframes bird7 {
    10% {left: 0%; bottom: 40%}
    30% {left: 20%; bottom: 50%}
    50% {left: 40%; bottom: 60%}
    70% {left: 60%; bottom: 40%}
    100% {left: 100%; bottom: 100%}
}

@keyframes bird8 {
    10% {right: 10%; bottom: 35%}
    30% {right: 25%; bottom: 50%}
    40% {left: 40%; bottom: 70%}
    70% {left: 20%; bottom: 35%}
    100% {left: -20%; bottom: 100%}
}

@media (min-width: 320px) {
    .btn {
        font-size: 10px;
        font: black;
        border: solid;
        box-sizing; content:
        border-width: 1px;
        padding: 2px;
    }
}

@media (min-width: 576px) {
    .btn {
        font-size: 20px;
        font: black;
        border: solid;
        box-sizing; content:
        border-width: 2px;
        padding: 1px;
    }
}

@media (min-width: 878px) {
    .btn {
        font-size: 28px;
        font: black;
        border: solid;
        box-sizing; content:
        border-width: 2px;
        padding: 1px;
    }
}