body {
    display: flex;
    flex-direction: column;
}

.container {
    width: 100vh;
}

.card-body {
    padding: 0;
}

/* start page */

#startIMG {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: scale-down;
    object-position: top;
}

#startButton {
    position: fixed;
    bottom: 87%;
    background: white;
    width: 110px;
    left: calc(50% - 50px);
}

.btn {
    font-size: 10px;
    font: black;
    border: solid;
    box-sizing; content:
    border-width: 1px;
    padding: 2px;
}

/* game play */

.bottom-img {
    position: relative;
    z-index: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
}

.top-img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 27%;
    bottom: 0;
    bottom: 0px;
    left: 0;
    right: 0;
}

/* #gameBox {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: top;
}

#backgrnd {
    position: fixed;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: top;
}

#foregrnd {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 27vh;
    object-fit: cover;
    object-position: bottom;
    bottom: 0;
} */

/* cursor */

html {
    cursor: crosshair;
    z-index: 1;
}

/* score & bullet tracker */

#bullets {
    z-index: 1;
    position: absolute;
    font-size: small;
    padding: 5px 20px;
    border-radius: 10px;
    background: white;
    bottom: 5px;
    left: 10px;
}

#finalScore {
    z-index: 1;
    position: absolute;
    font-size: small;
    padding: 5px 20px;
    border-radius: 10px;
    background: white;
    bottom: 5px;
    left: calc(50% - 97px);
}

#score {
    z-index: 1;
    position: absolute;
    font-size: small;
    padding: 5px 20px;
    border-radius: 10px;
    background: white;
    bottom: 5px;
    right: 10px;
}

/* game over page */

#endIMG {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: scale-down;
    object-position: top;
}

#gameEnd {
    position: fixed;
    bottom: 84%;
    background: white;
    width: 110px;
    left: calc(50% - 50px);
}

#endGame {
    position: fixed;
    font-size: 10px;
    bottom: 88%;
    background: black;
    color: white;
    width: 110px;
    border-radius: 20px;
    left: calc(50% - 50px);
    font-family: Arial, Helvetica, sans-serif;
}

/* Birds */

.bird-size {
    z-index: 0;
    width: 10%;
    position: absolute;
    bottom: 7%;
}

#b1 {
    right: 90%;
    animation-name: bird1;
    animation-delay: 1000ms;
    animation-duration: 5.5s;
}

#b2 {
    left: 90%;
    animation-name: bird2;
    animation-delay: 1000ms;
    animation-duration: 4.9s;
    transform: rotateY(180deg);
}

#b3 {
    right: 80%;
    animation-name: bird3;
    animation-delay: 1000ms;
    animation-duration: 7s;
}

#b4 {
    left: 80%;
    animation-name: bird4;
    animation-delay: 2000ms;
    animation-duration: 7s;
    transform: rotateY(180deg);
}

#b5 {
    right: 70%;
    animation-name: bird5;
    animation-delay: 2500ms;
    animation-duration: 6s;
}

#b6 {
    left: 70%;
    animation-name: bird6;
    animation-delay: 2500ms;
    animation-duration: 6s;
    transform: rotateY(180deg);
}

#b7 {
    right: 60%;
    animation-name: bird7;
    animation-delay: 3000ms;
    animation-duration: 7s;
}

#b8 {
    left: 60%;
    animation-name: bird8;
    animation-delay: 3000ms;
    animation-duration: 7s;
    transform: rotateY(180deg);
}

/* #dog-walking {
    left: 100%;
    animation-name: dog-walk;
    animation-delay: 200ms;
    animation-duration: 1500ms;
}

#dog-jump {
    left: 50%;
    animation-name: dog-jump;
    animation-delay: 20ms;
    animation-duration: 500ms;
} */

@keyframes bird1 {
    10% {left: 20%; bottom: 35%}
    30% {left: 30%; bottom: 50%}
    50% {left: 40%; bottom: 70%}
    70% {left: 60%; bottom: 35%}
    100% {left: 100%; bottom: 100%}
}

@keyframes bird2 {
    10% {right: 10%; bottom: 35%}
    30% {right: 25%; bottom: 50%}
    40% {left: 40%; bottom: 70%}
    70% {left: 20%; bottom: 55%}
    100% {left: -20%; bottom: 100%}
}

@keyframes bird3 {
    10% {left: 10%; bottom: 90%}
    30% {left: 20%; bottom: 35%}
    50% {left: 40%; bottom: 60%}
    70% {left: 60%; bottom: 35%}
    100% {left: 100%; bottom: 100%}
}

@keyframes bird4 {
    10% {right: 20%; bottom: 40%}
    30% {right: 50%; bottom: 55%}
    40% {left: 60%; bottom: 35%}
    70% {left: 30%; bottom: 55%}
    100% {left: -40%; bottom: 100%}
}

@keyframes bird5 {
    10% {left: 0%; bottom: 40%}
    30% {left: 20%; bottom: 50%}
    50% {left: 40%; bottom: 35%}
    70% {left: 60%; bottom: 60%}
    100% {left: 100%; bottom: 100%}
}

@keyframes bird6 {
    10% {right: 10%; bottom: 35%}
    30% {right: 25%; bottom: 50%}
    40% {left: 40%; bottom: 70%}
    70% {left: 20%; bottom: 35%}
    100% {left: -20%; bottom: 100%}
}

@keyframes bird7 {
    10% {left: 0%; bottom: 40%}
    30% {left: 20%; bottom: 50%}
    50% {left: 40%; bottom: 60%}
    70% {left: 60%; bottom: 40%}
    100% {left: 100%; bottom: 100%}
}

@keyframes bird8 {
    10% {right: 10%; bottom: 35%}
    30% {right: 25%; bottom: 50%}
    40% {left: 40%; bottom: 70%}
    70% {left: 20%; bottom: 35%}
    100% {left: -20%; bottom: 100%}
}

/* @keyframes dog-walk {
    0% {left: 5%; bottom: 15%}
    100% {left: 50%; bottom: 15%}
}

@keyframes dog-jump {
    0% {left: 50%; bottom: 15%} * z-index-1
    50% {left: 50%; bottom: 20%} * z-index-1
    100% {left:50%; bottom: 15%} * z-index-0
} */

/* screen sizes */

@media (min-width: 240px) {

    #startIMG {
        position: fixed;
        width: 100vw;
        height: 100vh;
        object-fit: scale-down;
        object-position: top;
    }
    
    #startButton {
        position: fixed;
        bottom: 84%;
        background: white;
        width: 110px;
        left: calc(50% - 50px);
    }

    #bullets {
        z-index: 1;
        position: absolute;
        font-size: small;
        bottom: 5px;
        left: 10px;
    }

    #finalScore {
        z-index: 1;
        position: absolute;
        font-size: small;
        padding: 5px 20px;
        border-radius: 10px;
        background: white;
        bottom: 5px;
        left: calc(50% - 97px);
    }
    
    #score  {
        z-index: 1;
        position: absolute;
        font-size: small;
        bottom: 5px;
        right: 10px;
    }

    .btn {
        font-size: 10px;
        font: black;
        border: solid;
        box-sizing; content:
        border-width: 1px;
        padding: 2px;
    }

    #endIMG {
        position: fixed;
        width: 100vw;
        height: 100vh;
        object-fit: scale-down;
        object-position: top;
    }
    
    #gameEnd {
        position: fixed;
        bottom: 84%;
        background: white;
        width: 110px;
        left: calc(50% - 50px);
    }
    
    #endGame {
        position: fixed;
        font-size: 10px;
        bottom: 88%;
        background: black;
        color: white;
        width: 110px;
        border-radius: 10px;
        left: calc(50% - 50px);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
    }
}

@media (min-width: 320px) {

    #startIMG {
        position: fixed;
        width: 100vw;
        height: 100vh;
        object-fit: scale-down;
        object-position: top;
    }
    
    #startButton {
        position: fixed;
        bottom: 78%;
        background: white;
        width: 110px;
        left: calc(50% - 50px);
    }

    #bullets {
        z-index: 1;
        position: absolute;
        font-size: small;
        bottom: 5px;
        left: 10px;
    }

    #finalScore {
        z-index: 1;
        position: absolute;
        font-size: small;
        padding: 5px 20px;
        border-radius: 10px;
        background: white;
        bottom: 5px;
        left: calc(50% - 97px);
    }
    
    #score  {
        z-index: 1;
        position: absolute;
        font-size: small;
        bottom: 5px;
        right: 10px;
    }

    .btn {
        font-size: 16px;
        font: black;
        border: solid;
        box-sizing; content:
        border-width: 1px;
        padding: 2px;
    }

    #endIMG {
        position: fixed;
        width: 100vw;
        height: 100vh;
        object-fit: scale-down;
        object-position: top;
    }
    
    #gameEnd {
        position: fixed;
        bottom: 78%;
        background: white;
        width: 110px;
        left: calc(50% - 50px);
    }
    
    #endGame {
        position: fixed;
        font-size: 16px;
        bottom: 84%;
        background: black;
        color: white;
        width: 110px;
        border-radius: 10px;
        left: calc(50% - 50px);
        font-family: Arial, Helvetica, sans-serif;
    }
}

@media (min-width: 476px) {

    #startIMG {
        position: fixed;
        width: 100vw;
        height: 100vh;
        object-fit: scale-down;
        object-position: top;
    }
    
    #startButton {
        position: fixed;
        bottom: 70%;
        background: white;
        width: 160px;
        left: calc(50% - 67px);
    }
    
    #bullets {
        z-index: 1;
        position: absolute;
        font-size: medium;
        bottom: 10px;
        left: 16px;
    }

    #finalScore {
        z-index: 1;
        position: absolute;
        font-size: small;
        padding: 5px 20px;
        border-radius: 10px;
        background: white;
        bottom: 5px;
        left: calc(50% - 97px);
    }
    
    #score  {
        z-index: 1;
        position: absolute;
        font-size: medium;
        bottom: 10px;
        right: 16px;
    }

    .btn {
        font-size: 24px;
        font: black;
        border: solid;
        box-sizing; content:
        border-width: 2px;
        padding: 1px;
    }

    #endIMG {
        position: fixed;
        width: 100vw;
        height: 100vh;
        object-fit: scale-down;
        object-position: top;
    }
    
    #gameEnd {
        position: fixed;
        bottom: 70%;
        background: white;
        width: 160px;
        left: calc(50% - 67px);
    }
    
    #endGame {
        position: fixed;
        font-size: 24px;
        bottom: 76%;
        background: black;
        color: white;
        width: 160px;
        border-radius: 10px;
        left: calc(50% - 67px);
        font-family: Arial, Helvetica, sans-serif;
    }
}

@media (min-width: 768px) {

    #startIMG {
        position: fixed;
        width: 100vw;
        height: 100vh;
        object-fit: scale-down;
        object-position: top;
    }
    
    #startButton {
        position: fixed;
        bottom: 50%;
        background: white;
        width: 210px;
        left: calc(50% - 97px);
    }
    
    #bullets {
        z-index: 1;
        position: absolute;
        font-size: large;
        bottom: 10px;
        left: 16px;
    }

    #finalScore {
        z-index: 1;
        position: absolute;
        font-size: small;
        padding: 5px 20px;
        border-radius: 10px;
        background: white;
        bottom: 5px;
        left: calc(50% - 97px);
    }
    
    #score  {
        z-index: 1;
        position: absolute;
        font-size: large;
        bottom: 10px;
        right: 16px;
    }

    .btn {
        font-size: 38px;
        font: black;
        border: solid;
        box-sizing; content:
        border-width: 2px;
        padding: 1px;
    }

    #endIMG {
        position: fixed;
        width: 100vw;
        height: 100vh;
        object-fit: scale-down;
        object-position: top;
    }
    
    #gameEnd {
        position: fixed;
        bottom: 29%;
        background: white;
        width: 210px;
        left: calc(50% - 97px);
    }
    
    #endGame {
        position: fixed;
        font-size: 38px;
        bottom: 46%;
        background: black;
        color: white;
        width: 210px;
        border-radius: 10px;
        left: calc(50% - 97px);
        font-family: Arial, Helvetica, sans-serif;
    }
}

@media (min-width: 992px) {

    #startIMG {
        position: fixed;
        width: 100vw;
        height: 100vh;
        object-fit: contain;
        object-position: top;
    }
    
    #startButton {
        position: fixed;
        bottom: 50%;
        background: white;
        width: 210px;
        left: calc(50% - 97px);
    }
    
    #bullets {
        z-index: 1;
        position: absolute;
        font-size: x-large;
        bottom: 10px;
        left: 16px;
    }

    #finalScore {
        z-index: 1;
        position: absolute;
        font-size: small;
        padding: 5px 20px;
        border-radius: 10px;
        background: white;
        bottom: 5px;
        left: calc(50% - 97px);
    }
    
    #score  {
        z-index: 1;
        position: absolute;
        font-size: x-large;
        bottom: 10px;
        right: 16px;
    }

    .btn {
        font-size: 40px;
        font: black;
        border: solid;
        box-sizing; content:
        border-width: 2px;
        padding: 1px;
    }
    
    #endIMG {
        position: fixed;
        width: 100vw;
        height: 100vh;
        object-fit: contain;
        object-position: top;
    }
    
    #gameEnd {
        position: fixed;
        bottom: 40%;
        background: white;
        width: 210px;
        left: calc(50% - 97px);
    }
    
    #endGame {
        position: fixed;
        font-size: 38px;
        bottom: 50%;
        background: black;
        color: white;
        width: 210px;
        border-radius: 10px;
        left: calc(50% - 97px);
        font-family: Arial, Helvetica, sans-serif;
    }
}

@media (min-width: 1200px) {

    #startIMG {
        position: fixed;
        width: 100vw;
        height: 100vh;
        object-fit: contain;
        object-position: top;
    }
    
    #startButton {
        position: fixed;
        bottom: 50%;
        background: white;
        width: 210px;
        left: calc(50% - 97px);
    }
    
    #bullets {
        z-index: 1;
        position: absolute;
        font-size: xx-large;
        bottom: 10px;
        left: 16px;
    }

    #finalScore {
        z-index: 1;
        position: absolute;
        font-size: small;
        padding: 5px 20px;
        border-radius: 10px;
        background: white;
        bottom: 5px;
        left: calc(50% - 97px);
    }
    
    #score  {
        z-index: 1;
        position: absolute;
        font-size: xx-large;
        bottom: 10px;
        right: 16px;
    }

    .btn {
        font-size: 40px;
        font: black;
        border: solid;
        box-sizing; content:
        border-width: 2px;
        padding: 1px;
    }

    #endIMG {
        position: fixed;
        width: 100vw;
        height: 100vh;
        object-fit: contain;
        object-position: top;
    }
    
    #gameEnd {
        position: fixed;
        bottom: 40%;
        background: white;
        width: 210px;
        left: calc(50% - 97px);
    }
    
    #endGame {
        position: fixed;
        font-size: 38px;
        bottom: 50%;
        background: black;
        color: white;
        width: 210px;
        border-radius: 10px;
        left: calc(50% - 97px);
        font-family: Arial, Helvetica, sans-serif;
    }
}

@media (min-width: 1400px) {

    #foregrnd {
        position: absolute;
        z-index: 1;
        width: 100vw;
        height: 24vh;
        object-fit: cover;
        object-position: bottom;
        bottom: 0;
    }

    #bullets {
        z-index: 1;
        position: absolute;
        font-size: 35px;
        bottom: 10px;
        left: 16px;
    }

    #finalScore {
        z-index: 1;
        position: absolute;
        font-size: small;
        padding: 5px 20px;
        border-radius: 10px;
        background: white;
        bottom: 5px;
        left: calc(50% - 97px);
    }
    
    #score  {
        z-index: 1;
        position: absolute;
        font-size: 35px;
        bottom: 10px;
        right: 16px;
    }

    .btn {
        font-size: 40px;
        font: black;
        border: solid;
        box-sizing; content:
        border-width: 2px;
        padding: 1px;
    }

    #endIMG {
        position: fixed;
        width: 100vw;
        height: 100vh;
        object-fit: contain;
        object-position: top;
    }
    
    #gameEnd {
        position: fixed;
        bottom: 36%;
        background: white;
        width: 210px;
        left: calc(50% - 97px);
    }
    
    #endGame {
        position: fixed;
        font-size: 38px;
        bottom: 45%;
        background: black;
        color: white;
        width: 210px;
        border-radius: 10px;
        left: calc(50% - 97px);
        font-family: Arial, Helvetica, sans-serif;
    }
}

@media (min-width: 1920px) {

    #bullets {
        z-index: 1;
        position: absolute;
        font-size: 55px;
        bottom: 10px;
        left: 26px;
    }

    #finalScore {
        z-index: 1;
        position: absolute;
        font-size: small;
        padding: 5px 20px;
        border-radius: 10px;
        background: white;
        bottom: 5px;
        left: calc(50% - 97px);
    }
    
    #score  {
        z-index: 1;
        position: absolute;
        font-size: 55px;
        bottom: 10px;
        right: 26px;
    }

    .btn {
        font-size: 52px;
        font: black;
        border: solid;
        box-sizing; content:
        border-width: 2px;
        padding: 5px;
    }

    #endIMG {
        position: fixed;
        width: 100vw;
        height: 100vh;
        object-fit: contain;
        object-position: top;
    }
    
    #gameEnd {
        position: fixed;
        bottom: 37%;
        background: white;
        width: 270px;
        left: calc(50% - 123px);
    }
    
    #endGame {
        position: fixed;
        font-size: 48px;
        bottom: 46%;
        background: black;
        color: white;
        width: 270px;
        border-radius: 10px;
        left: calc(50% - 123px);
        font-family: Arial, Helvetica, sans-serif;
    }
}